.app__header{
    background-color: var(--color-black);
}
.app__header-h1{
    color: var(--color-golden);
    font-family: var(--font-base);
    letter-spacing: 0.04em;
    text-transform: capitalize;
    line-height:117px;
    font-size: 90px;
    font-weight: 700;
}
.app__header-img img{
    width: 20%;
}

/*
.app__header {
    background-color: var(--color-black);
}

.app__header-h1 {
    font-family: var(--font-base);
    color: var(--color-golden);
    font-weight: 700;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    line-height: 117px;
    font-size: 90px;
}

.app__header-img img {
    width: 80%;
}
*/